body
{
    margin: 0;
    padding: 0;
    font-family: 'Geometria', sans-serif;
}

header
{
    background-color: #F8B329;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#btn-menu
{
    display: none;
}

header label
{
    display: none;
    width: 32px;
    height: 32px;
    padding: 1.5%;
}

header label:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

/*LOGO*/
header h1
{
    width: 33%;
}

header h1 a img
{
    max-width: 107px;
    margin-left: 5%;
}

/*NAV*/
.menu
{
    width: 33%;
    display: flex;
    align-items: baseline;
}

.menu a
{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10%;
}

.menu a:hover
{
    color: #48AF9B;
}

#descargarApk
{
    background-color: #48AF9B;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}

#descargarApk:hover
{
    background-color: #addae4;
    color:  #48AF9B;
    cursor: pointer;
}

/*REDES*/
#redes
{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

#redes a img
{
    width: 50%;
}



/*----SLIDER----*/
#slider
{
    width: 100%;
    height: 45.6em;
    overflow: hidden;
}

#contenedorSlider
{
    width: 75%;
    margin: 2%;
    overflow: hidden;
}

#contenedorImagenes /*figure*/
{
    margin: 0 auto;
    max-width: 1440px;
}

#contenedorImagenes img
{
    width: 100%;
}

#apk
{
    display: none;
}

#apk:hover
{
    background-color: #addae4;
    color:  #48AF9B;
    cursor: pointer;
}


footer
{
    background-color: #48AF9B;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer h4
{
    color: white;
    font-weight: normal;
    margin-left: 5%;
}

#miBehance
{
    text-decoration: none;
    color: white;
}

#miBehance img
{
    width: 12%;
}



/*----NOSOTROS Y SERVICIO----*/
section
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 45.6em;
}

.texto
{
    width: 65%;
    margin: 5%;
}

.texto h1
{
    color: #48AF9B;
    font-weight: 800;
    font-size: 2.5em;
}

.texto p
{
    font-size: 1.8em;
}

.texto p strong
{
    color: #F8B329;
}

/*FOTO DE NOSOTROS*/
#foto_nosotros
{
    width: 30%;
    background-image: url(../img/siberiano.jpg);
    background-size: cover;
}

/*FOTO DE SERVICIOS*/
#foto_servicio
{
    width: 30%;
    background-image: url(../img/gatito.jpg);
    background-size: cover;
}



/*----ADMIN----*/
#logo
{
    max-width: 30%;
}

#logo img
{
    max-width: 50px;
    margin-left: 5%;
}

#main_admin
{
    position: relative;
}

#inicioSesion_admin
{
    background-color: bisque;
    width: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

#inicioSesion_admin div
{
    background-color: coral;
    width: 25%;
    margin: 0 auto;
    height: 35em;
    margin-top: 6%;
}

#section_admin
{
    width: 100%;
    height: 52.65em;
    margin: 0 auto;
    overflow: hidden;
}

#section_admin aside
{
    width: 20%;
    background-color: #48AF9B;
    padding-left: 1%;
}

#section_admin aside h3{
    color: white;
}

#section_admin article
{
    width: 80%;
    background-color: white;
    padding: 1%;
}

.cards
{
    width: 25%;
    background-color: #addae4;
    padding: 1%;
    border-radius: 30px;
    margin: 1%;
    float: left;
}

.cards button
{
    background-color: #48AF9B;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.cards button:hover
{
    background-color: #F8B329;
    cursor: pointer;
}

/*----RESPONSIVE HOME----*/
@media only screen and (max-width: 1750px)
{
    #contenedorSlider
    {
        margin: 4%;
    }
}

@media only screen and (max-width: 1635px)
{
    #contenedorSlider
    {
        margin: 5%;
        width: 78%;
    }

    .menu
    {
        width: 40%;
    }
}

@media only screen and (max-width: 1440px)
{
    #contenedorSlider
    {
        margin: 7%;
        width: 81%;
    }

    header h1 a img {
        margin-left: 10%;
    }

    .menu {
        width: 60%;
        justify-content: center;
    }

    #redes {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px)
{
    #contenedorSlider {
        width: 86%;
        margin-top: 12%;
    }

    header h1
    {
        width: 50%;
    }

    header h1 a img {
        margin-left: 15%;
    }

    .menu {
        width: 70%;
    }

    #redes {
        width: 100%;
    }

    /*---NOSOTROS Y SERVICIOS---*/
    .texto h1
    {
        font-size: 2.3em;
    }

    .texto p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1024px)
{
    #contenedorSlider {
        margin-top: 17%;
    }

    /*---NOSOTROS Y SERVICIOS---*/
    .texto h1
    {
        font-size: 2.1em;
    }

    .texto p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 870px)
{
    header h1
    {
        width: 20%;
    }

    header h1 a img {
        margin-left: 20%;
        max-width: 40px;
    }

    header label
    {
        display: block;
    }

    .menu
    {
        position: absolute;
        background-color: #F8B329;
        flex-direction: column !important;
        width: 100%;
        margin-top: -80%;
        transition: all 0.5s;
        align-items: center;
    }

    #btn-menu:checked ~ .menu
    {
        margin: 0;
        top: 5em;
        padding-top: 2%;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-bottom: 2%;
    }

    .menu a
    {
        font-size: 1.3em;
        padding-bottom: 3%;
        margin-left: 0%;
        text-align: center;
    }

    .menu button
    {
        display: none;
    }

    #redes a img
    {
        width: 35%;
    }

    #slider
    {
        height: 48.9em;
        flex-direction: column;
    }

    #contenedorSlider
    {
        margin-top: 0;
    }

    #apk
    {
        display: block;
        width: 30%;
        background-color: #48AF9B;
        color: white;
        font-size: 1.3em;
        font-weight: bold;
        padding: 15px 15px;
        border: none;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
    }


    /*---NOSOTROS Y SERVICIOS---*/
    section
    {
        height: 48.9em;
    }
}

@media only screen and (max-width: 768px)
{
    header h1 {
        width: 25%;
    }

    #miBehance img
    {
        width: 16%;
    }
}

@media only screen and (max-width: 600px)
{
    header h1 {
        width: 30%;
    }
}

@media only screen and (max-width: 501px)
{
    #redes a
    {
        margin-left: -5%;
    }

    #redes a img
    {
        margin-left: 30%;
    }

    #contenedorSlider
    {
        margin-top: -70%;
    }

    footer h4
    {
        margin-left: 8%;
    }

    #miBehance img
    {
        width: 33%;
    }
}



/*----RESPONSIVE NOSOTROS Y SERVICIOS----*/
@media only screen and (max-width: 1550px)
{
    .texto
    {
        margin: 3%;
    }

    #foto_nosotros
    {
        width: 40%;
    }

    #foto_servicio
    {
        width: 40%;
    }
}

@media only screen and (max-width: 1200px)
{
    #foto_nosotros
    {
        width: 68%;
    }  
    
    #foto_servicio
    {
        width: 83%;
    }
}

@media only screen and (max-width: 768px)
{
    #foto_nosotros
    {
        width: 75%;
    }

    #foto_servicio
    {
        width: 95%;
    }
}

@media only screen and (max-width: 690px)
{
    .texto
    {
        width: 100%;
        margin: 5%;
    }

    .texto h1
    {
        font-size: 2.2em;
    }

    .texto p
    {
        font-size: 1.4em;
    }

    #foto_nosotros
    {
        display: none;
    }

    #foto_servicio
    {
        display: none;
    }

    /*----HOME----*/
    #contenedorSlider
    {
        margin-top: -30%;
    }

    #apk
    {
        width: 45%;
    }
}

/*----HOME----*/
@media only screen and (max-width: 501px)
{
    #contenedorSlider
    {
        margin-top: -70%;
    }
}